.container-v {
  display: flex;
  height: 150px;
  margin: 12px;
  color: #fff;
}
.container-h {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 12px;
  color: #fff;
}
.prev {
  width: 300px;
  background-color: #17A1E6;
  text-align: center;
}
.next {
  background-color: #F2CC0C;
  flex: 1;
  text-align: center;
}
.prev-h {
  height: 300px;
  background-color: #17A1E6;
  text-align: center;
}
.next-h {
  background-color: #F2CC0C;
  height: 300px;
  text-align: center;
}